<div class =" container">
  <div class =" header">
  
</div><center><h1>Curriculumn Vitae<h1></center>
<Center><h3>Web Developer/Web Design</h3></Center>
		<h3>Subrecary, Edrien Dale</3>
		<h5>Angeles City, Pampanga</h5>
		<h5>099273220873</h5>
		<br>
  	<h2>Objective</h2>
			<p>Challenging position with a creative<br> work environment to enhance<br> expertise in web development<br> and application design..</p>
		<div id="container">
    <div id="header">
        <h2>Educational Background</h2>
    </div>
    
    <div id="content">
        Holy Angel University
    </div>
    
    <div id="sidebar">
        <h2>Skills</h2>
        			
			<p>Languages: C#, JavaScript,PHP,SQL </p>
			<p>Frameworks: .NET, Node.js, </p>

    </div>
    
    <div id="footer">

    </div>
</div>
