$font-stack: Arial, san-serif;
$color1:#000567;
$primary-color: #333;
$fontsize:18px;
$border: 1px solid $color1;
$padding: 10px 10px;

body{
  font: $font-stack;
  color:$primary-color;
}

.container
{
  width:600px;
  margin: 15px auto;
  border:$border;
  padding:$padding;
}
p{
  font-family:$font-stack;
}
h1{

  
}
#container {
    width:960px;
    margin:20px auto;
}

#content {
    float:left;
    width:620px;
}

#sidebar {
    
    float:right;
    width:680px;
}

#footer {
    clear:both;
}
