body {
  font: Arial, san-serif;
  color: #333;
}

.container {
  width: 600px;
  margin: 15px auto;
  border: 1px solid #000567;
  padding: 10px 10px;
}

p {
  font-family: Arial, san-serif;
}

#container {
  width: 960px;
  margin: 20px auto;
}

#content {
  float: left;
  width: 620px;
}

#sidebar {
  float: right;
  width: 680px;
}

#footer {
  clear: both;
}
